* {
    margin: 0;
    padding: 0;
}

#header {
    background: #41BAA4;
    margin: 0;
    padding: 0;
    height: 92px;
}

.main-title {
    margin: 0 10px;
    font-size: 24px;
    font-weight: normal;
    line-height: 92px;
    color: #fff;
    text-decoration: none;
}


.gnav {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}


.gnav-item {
    padding: 32px 12px;
    display: block;
    line-height: 28px;
}

.gnav-item a {
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.main-area {
    height: 700px;
    background-color: rgb(68, 179, 158);
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-area-title {
    margin-bottom: 24px;
    text-align: center;
    font-size: 48px;
}

.main-area-description {
    margin: 0 auto;
    width: 90%;
    max-width: 700px;
    text-align: center;
    font-size: 14px;
}

.entry {
    max-width: 200px;
}