* {
    margin: 0;
    padding: 0;
}

#header {
    background: #41BAA4;
    margin: 0;
    padding: 0;
    height: 92px;
}

.main-title {
    margin: 0 10px;
    font-size: 24px;
    font-weight: normal;
    line-height: 92px;
    color: #fff;
    text-decoration: none;
}


.gnav {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}


.gnav-item {
    padding: 32px 12px;
    display: block;
    line-height: 28px;
}

.gnav-item a {
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.main-area {
    height: 700px;
    background-color: rgb(68, 179, 158);
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-area-title {
    margin-bottom: 24px;
    text-align: center;
    font-size: 48px;
}

.main-area-description {
    margin: 0 auto;
    width: 90%;
    max-width: 700px;
    text-align: center;
    font-size: 14px;
}


.entry {
    margin: 0 0.5%;
    max-width: 220px;
    display: flex;
    flex-direction: column;
}

.entry-image {
    width: 100%;
    display: block;
}

.entry-category-list-item {
    background-color: #4CB39D;
    margin: 8px 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
}


.entry-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 60px;
    border-bottom: solid 1px;
    border-bottom-color: #d6d6d6;
}


.entry-image img {
    max-width: 100%;
    height: 119.037px;
    margin-bottom: 12px;
    margin-top: 0;
    vertical-align: middle;
    line-height: 25.6px;
}

.entries-title {
    text-align: center;
    padding: 30px 0px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #d6d6d6;
    margin: 50px 0px;
    font-size: 24px;
    font-weight: normal;
}

.contents-title {
    position: relative;
    padding: 50px;
    background: #3B4552;
    color: #fff;
    text-align: center;
    font-size: 28px;
}

.contents-title span {
    display: block;
    font-size: 14px;
}

.contents-title:after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -15px;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-top: 30px solid #3B4552;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    z-index: 3;
}

.contents {
    height: auto;
}

.feature {
    position: relative;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid 1px;
    border-bottom-color: rgb(219, 219, 219);
}

.feature:nth-child(even) {
    padding-right: 600px;
}

.feature:nth-child(odd) {
    padding-left: 600px;
}

.feature-title {
    padding-top: 16px;
    margin-left: 120px;
    font-size: 32px;
    color: #47B39D;
    font-weight: normal;
}

.feature-item {
    margin-left: 120px;
    padding-right: 100px;
    margin-top: 36px;
    margin-bottom: 36px;
    color: rgb(71, 71, 71);
}

.feature-title span {
    display: block;
    font-size: 14px;
}

.feature-img {
    position: absolute;
    top: 0;
}

.feature:nth-child(even) .feature-img {
    right: 0;
}

.feature:nth-child(odd) .feature-img {
    left: 0;
}

.feature-img img {
    height: 400px;
}

.btn-orange {
    background-color: #ff6c00;
    width: 18%;
    padding: 12px;
    font-size: 14px;
    margin: 0 0 48px;
    text-align: center;
    border-radius: 3px;
    margin-left: 120px;
}

.btn-orange a {
    color: #fff;
    text-decoration: none;
}

/*
.feature {
    background-color: #fff;
    margin: 0 0px;
    position: relative;
}
.feature-image-right-a img {
    position: absolute;
    right: 0px;
    display: block;
    width: 40%;
    height: auto;
}
.feature-tytle-right-a {
    color: #47B39D;
    font-size: 36px;
    padding-top: 100px;
    margin-left: 100px;
}
.feature-item-right-a {
    font-size: 16px;
    width: 50%;
    padding-top: 50px;
    margin-bottom: 50px;
}
.btn-orange-right-a {
    background-color: #ff6c00;
    width: 15%;
    padding: 12px;
    font-size: 14px;
    margin: 0 0 48px;
    text-align: center;
    border-radius: 3px;
}
.feature-image-left-a img {
    left: 0px;
    position: absolute;
    display: block;
    width: 40%;
    height: auto;
    top: 2240px;
}
.feature-tytle-left-a {
    color: #47B39D;
    position: absolute;
    font-size: 36px;
    padding-top: 100px;
    left: 700px;
}
.feature-item-left-a {
    font-size: 16px;
    width: 50%;
    padding-top: 200px;
    margin-bottom: 50px;
    position: absolute;
    left: 700px;
}
.btn-orange-left-a {
    background-color: #ff6c00;
    width: 15%;
    padding: 12px;
    font-size: 14px;
    margin: 0 0 48px;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    left: 700px;
    top: 2530px;
}
.feature-image-right-b img {
    position: absolute;
    right: 0px;
    display: block;
    width: 40%;
    height: auto;
    top: 2660px;
}
.feature-tytle-right-b {
    color: #47B39D;
    font-size: 36px;
    padding-top: 100px;
    position: absolute;
    top: 2650px;
}
.feature-item-right-b {
    font-size: 16px;
    width: 50%;
    padding-top: 50px;
    margin-bottom: 50px;
    position: absolute;
    top: 2790px;
}
.btn-orange-right-b {
    background-color: #ff6c00;
    width: 15%;
    padding: 12px;
    font-size: 14px;
    margin: 0 0 48px;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    top: 2940px;
}
.feature-image-left-b img {
    left: 0px;
    position: absolute;
    display: block;
    width: 40%;
    height: auto;
    top: 3080px;
}
.feature-tytle-left-b {
    color: #47B39D;
    position: absolute;
    font-size: 36px;
    padding-top: 100px;
    left: 700px;
    top: 3050px;
}
.feature-item-left-b {
    font-size: 16px;
    width: 50%;
    margin-bottom: 50px;
    padding-top: 50px;
    position: absolute;
    left: 700px;
    top: 3200px;
}
.btn-orange-left-b {
    background-color: #ff6c00;
    width: 15%;
    padding: 12px;
    font-size: 14px;
    margin: 0 0 48px;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    left: 700px;
    top: 3350px;
}
.btn-orange-right-a a {
    color: #fff;
    text-decoration: none;
}
.btn-orange-right-b a {
    color: #fff;
    text-decoration: none;
}
.btn-orange-left-a a {
    color: #fff;
    text-decoration: none;
}
.btn-orange-left-b a {
    color: #fff;
    text-decoration: none;
}
.feature-tytle-mini {
    font-size: 13px
}

.service {
    width: 50%;
    border-right: 1px solid #e5e5e5;
    padding: 130px 0px;
    position: absolute;
    top: 3642px;
    left: 0;
}

.service-b {
    width: 50%;
    padding: 130px 0px;
    position: absolute;
    top: 3642px;
    right: 0px;
}

.service-title {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: normal;
    color: #41BAA4;
    text-align: center;
}

.service-title span {
    font-size: 13px;
    font-weight: normal;
    color: #41BAA4;
    display: block;
}

.service-title-b {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: normal;
    color: #41BAA4;
    text-align: center;
}

.service-title-b span {
    font-size: 13px;
    font-weight: normal;
    color: #41BAA4;
    display: block;
}

.service-item {
    background-color: #47b39d;
    width: 30%;
    padding: 12px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 3px;
}

.service-item a {
    color: #fff;
    text-decoration: none;
}

.service-item-b {
    background-color: #47b39d;
    width: 30%;
    padding: 12px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 3px;
}

.service-item-b a {
    color: #fff;
    text-decoration: none;
}

.table {
    width: 55%;
    position: absolute;
    top: 4130px;
    margin-left: 200px;
    margin-right: 1000px;
    margin-top: 100px;
    margin-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    float: left;
}

.table-title {
    width: 30%;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    color: rgb(49, 49, 49);
}

.table-description {
    width: 50%;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    color: rgb(49, 49, 49);
}

iframe {
    position: absolute;
    top: 4142px;
    right: 0px;
}

#form {
    background-color: #47b39d;
    position: absolute;
    top: 4620px;
    width: 100%;
    height: auto;
    z-index: 1;
}

.form-item {
    margin-top: 100px;
}

.form-label {
    margin-top: 15px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    font-size: 16px;
}

.form-value {
    text-align: center;
}

.form-value input {
    width: 60%;
    height: 40px;
}

.form-value textarea {
    width: 60%;
    height: 180px;
}

.btn-black {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 20px;
}

.btn-black input {
    background-color: #131d2a;
    color: #fff;
    width: 12%;
    padding: 12px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 3px;
    position: relative;
    border: none;
}

#footer {
    position: absolute;
    top: 5340px;
    background: #031731;
    width: 100%;
    height: auto;
}

.footer-title {
    margin-top: 90px;
    margin-bottom: 30px;
    margin-left: 130px;
    padding-bottom: 30px;
    color: #fff;
    font-weight: normal;
    border-bottom: 1px solid #e5e5e5;
    width: 82%;
}

.footer-list {
    float: left;
    margin-left: 130px;
    margin-bottom: 80px;
}

.footer-list-b {
    margin-top: 40px;
}

.footer-list-title {
    color: #fff;
    margin: 10px;
}

.footer-list-item {
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
    width: 86%;
}

.footer-list-item-b {
    color: #fff;
    margin-left: 24px;
    margin-top: 10px;
    width: 86%;
}

.footer-list-item-b a {
    color: #fff;
    text-decoration: none;
}

.copyright {
    background: #010A17;
    clear: both;
    text-align: center;
    padding: 25px 0px;
    color: #fff;
    font-size: 13px;
}
*/
.service-container {
    display: flex;
}

.service {
    width: 50%;
    padding: 80px 0;
    text-align: center;
}

.service:nth-child(1) {
    border-right: 1px solid #cecece;
}

.service-title {
    color: #47B39D;
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: normal;
}

.service-title span {
    display: block;
    font-size: 14px;
}

.service-item {
    display: inline-block;
    border-radius: 4px;
    background-color: #47b39d;
}

.service-item a {
    padding: 24px 16px;
    display: block;
    color: #fff;
    text-decoration: none;
}

.service-item hover {
    opacity: 0.7;
}

.contents .table {
    margin: 24px;
}

.table {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
}

.table-title {
    width: 20%;
    box-sizing: border-box;
    padding: 24px 16px;
    border-top: 1px solid #ccc;
}

.table-title:first-child {
    border-top: 2px solid #47b39d;
}

.table-description {
    width: 80%;
    box-sizing: border-box;
    padding: 24px 16px;
    border-top: 1px solid #ccc;
}

.inquiry {
    background-color: #47b39d;
}

.inquiry .form {
    padding: 40px 16px;
    text-align: center;
}

.form {
    border-bottom: 8px solid #3B4552;
}

.form-label {
    margin-bottom: 4px;
    color: #fff;
}

.form-value {
    margin-bottom: 24px;
}

.form-value textarea,
.form-value input {
    padding: 8px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-value textarea {
    height: 200px;
}

.btn-black input,
.btn-black a {
    padding: 16px 80px;
    display: block;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    background-color: #1D1F21;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.btn-black:hover {
    opacity: 0.7;
}

#footer {
    background-color: #031731;
}

.footer-title {
    color: #fff;
    font-weight: normal;
}
